<nav class="cover-navigation navigation--social">
    <ul class="navigation">

      {% if site.author.email %}
      <!-- Email -->
      <li class="navigation__item">
        <a href="mailto:{{ site.author.email }}" target="_blank" title="Email">
          <i class="big-icon iconify-inline" data-icon="fluent:mail-copy-24-filled"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.linkedin %}
      <!-- LinkedIn -->
      <li class="navigation__item">
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" title="LinkedIn">
          <i class="big-icon iconify-inline" data-icon="akar-icons:linkedin-fill"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.github %}
      <!-- GitHub -->
      <li class="navigation__item">
        <a href="https://www.github.com/{{ site.author.github }}" target="_blank" title="GitHub">
          <i class="big-icon iconify-inline" data-icon="akar-icons:github-fill"></i>
        </a>
      </li>
      {% endif %}

      <li class="navigation__item">
        <a href="https://scholar.google.com/citations?user={{ site.author.google_scholar }}" title="Google Scholar" target="_blank">
          <i class="big-icon iconify-inline" data-icon="mdi:google"></i>
          <!-- <span class="label">RSS</span> -->
        </a>
      </li>

      <li class="navigation__item">
        <a href="https://www.facebook.com/{{ site.author.fb }}" title="Facebook" target="_blank">
          <i class="big-icon iconify-inline" data-icon="ic:outline-facebook"></i>
          <!-- <span class="label">RSS</span> -->
        </a>
      </li>
    </ul>
  </nav>