<nav class="cover-navigation navigation--social">
    <ul class="navigation">

      {% if site.author.email %}
      <!-- Email -->
      <li class="navigation__item">
        <a href="mailto:{{ site.author.email }}" target="_blank" title="Email">
          <i class="big-icon iconify-inline" data-icon="fluent:mail-copy-24-filled"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.linkedin %}
      <!-- LinkedIn -->
      <li class="navigation__item">
        <a href="https://www.linkedin.com/in/{{ site.author.linkedin }}" target="_blank" title="LinkedIn">
          <i class="big-icon iconify-inline" data-icon="akar-icons:linkedin-fill"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.github %}
      <!-- GitHub -->
      <li class="navigation__item">
        <a href="https://www.github.com/{{ site.author.github }}" target="_blank" title="GitHub">
          <i class="big-icon iconify-inline" data-icon="akar-icons:github-fill"></i>
        </a>
      </li>
      {% endif %}

      {% if site.author.stackoverflow %}
      <!-- Stackoverflow -->
      <li class="navigation__item">
        <a href="https://scholar.google.com/citations?user=ipcDPCQAAAAJ&hl=vi" target="_blank" title="Google Scholar">
          <i class="big-icon iconify-inline" data-icon="ph:rss-bold"></i>
        </a>
      </li>
      {% endif %}

      RSS
      <li class="navigation__item">
        <a href="{{ site.baseurl }}/feed.xml" title="Subscribe (RSS)" target="_blank">
          <i class="big-icon iconify-inline" data-icon="ph:rss-bold"></i>
          <!-- <span class="label">RSS</span> -->
        </a>
      </li>
    </ul>
  </nav>